.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.box {
  height: 150px;
  width: 250px;
  border: 1px solid black;
  margin-right: 15px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
